<% provide(:title, 'GALILEO@UGA :: HOME') %>

<h4> Search Options: </h4>
              
              <%= render(:partial => "links" ) %>

  

<script src="http://supportforms.epnet.com/eit/scripts/ehostsearch.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript">var url="http://preproxy.galib.uga.edu/login?url=http://search.ebscohost.com/login.aspx?direct=true&site=ehost-live&scope=site&type=1&db=a9h&authtype=cookie,ip,uid&bquery=";</script>
<br>
      
        <form class="form-inline" id="ehost_searchbox" action="javascript:ebscoHostSearchGo(url);">
        <label class='control-label' for="ebscohostsearch">Quick Search: </label> 
        <div class="input-append">
        <input class="span2" id="ebscohostsearch" type="text" >
        <button class="btn" type="submit"><i class="icon-search"></i> Go </button>
       </div>
        <span class="help-inline">in Academic Search Complete</span>
        </form>
<br>
       
  
      <form class="form-inline" id = 'popular'>
         <label class='control-label' >Popular Databases: </label>
       <%= select_tag "link", options_from_collection_for_select(@popular_db, 'code', 'name', '0'), {:onChange => "{getResult();}"} %>
       </form>
      
      <br>
      
        <%= form_tag "subjects/list", :class=>"form-inline" do %>
        <label class='control-label' >Choose Subject: </label>
        <%= select_tag "subject", options_from_collection_for_select(@subject, 'SubjectID', 'SubjectName'),
                          :prompt => "--select a subject--", :onchange => "javascript: this.form.submit();" %>
       <% end %>
    
      <br>
        <br>
          
        <h5>Select a Resource by Name:  </h5>
    
          
         <%= render(:partial => "/resources/atoz" ) %>

  <br>
    <h5>Or Search for a Resource by Name:</h5>
       
        <%= form_tag "/resources/list", :class =>"form-inline" do -%>
    
        <label class="radio inline">
          <input type="radio" name="filter" value="Begins with">Begins with
        </label>
         <label class="radio inline">
          <input type="radio" name="filter" value="Contains" checked>Contains
        </label>
          <label class="radio inline">
          <input type="radio" name="filter" value="Exact match">Exact match
        </label>
      
      <div class="input-append">
        <input class="span2" name="str" type="text" >
        <button class="btn" name="resourceuga" type="submit"><i class="icon-search"></i> Go </button>
       </div>
      
        <% end %> 
      


