<% provide(:title, 'GALILEO@UGA :: HOME') %>

<table summary="Search Options">
  <h3> Search Options: </h3>

      <tr>
       
<script src="http://supportforms.epnet.com/eit/scripts/ehostsearch.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript">var url="http://preproxy.galib.uga.edu/login?url=http://search.ebscohost.com/login.aspx?direct=true&site=ehost-live&scope=site&type=1&db=a9h&authtype=cookie,ip,uid&bquery=";</script>

<form id="ehost_searchbox" action="javascript:ebscoHostSearchGo(url);">
  
<p class="toppart">
<span class="portaloptions">Quick Search: </span>
<input type="text" id="ebscohostsearch" name="ebscohostsearch" class="searchboxstyle2" size="30">
<input type="image" name="submit"  value="Search" src="http://www.libs.uga.edu/research/images/gobox.gif" alt="go" align="top" style="padding-left: 10px; padding-top: 1px">
<br>
<span class="smalltext" style="padding-left: 5px">in Academic Search Complete</span>

</p>
</form>
      </tr>
       <tr>
        
       <th>Popular Databases: </th>
  
      <form id = 'popular'>    
       <th><%= select_tag "link", options_from_collection_for_select(@popular_db, 'code', 'name', '0'), {:onChange => "{getResult();}"} %></th>
       </form>
      </tr>
      <tr>
        <th>Choose Subject: </th>
        <%= form_tag "subjects/list" do %>
        
        <td><%= select_tag "subject", options_from_collection_for_select(@subject, 'SubjectID', 'SubjectName'),
                          :prompt => "--select a subject--", :onchange => "javascript: this.form.submit();" %></td>
       <% end %>
      </tr>
      
      <tr>
        <th>Select a Resource by Name:  </th>
      </tr>
      <tr>
        <td>
          
         <%= render(:partial => "/resources/atoz" ) %>

        </td>
      </tr>
      <tr>
        <th>Or Search for a Resource by Name:</th>
       </tr>
      <tr>
        <%= form_tag "/resources/list" do -%>
      <td>Filter Options: <%= select_tag "filter", "<option>Begins with</option><option selected='selected'>Contains</option><option>Exact match</option>".html_safe %> </td>
      <td><%= text_field_tag "str" %></td>
      <td><%= submit_tag 'Go', :name => "resourceuga" %></td>
        <% end %> 
      </tr>
           
      <tr>
      
        
      </tr>
<br>



      
</table>

<div class="input-append">
  <input class="span4" id="appendedDropdownButton" type="text">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i>
      Contains Search
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>Begins With Search</li>
      <li>Exact Match Search</li>
    </ul>
  </div>
</div>
