<% provide(:title, 'GALILEO@UGA :: UGA Libraries') %>

   <!-- <div class="row crumbtrail">
      <a href="/">| Home |</a>
   </div> -->

   <div class="row">
    <div class="subtitle"> <h2> Search Options: </h2></div>
    <div class="helplinks"><%= render(:partial => "links" ) %></div>
   </div>


<script src="http://supportforms.epnet.com/eit/scripts/ehostsearch.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript">var url="http://preproxy.galib.uga.edu/login?url=http://search.ebscohost.com/login.aspx?direct=true&site=ehost-live&scope=site&type=1&db=a9h&authtype=cookie,ip,uid&bquery=";</script>
<br>
      
        <form class="form-inline" id="ehost_searchbox" action="javascript:ebscoHostSearchGo(url);" autocomplete="off">
        <label class='control-label bold' for="ebscohostsearch">Quick Search: </label> 
        <div class="input-append">
        <input class="span2" id="ebscohostsearch" type="text" >
        <button class="btn" type="submit"><i class="icon-search"></i> Go </button>
       </div>
        <span class="help-inline">in Academic Search Complete</span>
        </form>

       
  
      <form class="form-inline" id = 'popular' autocomplete="off">
       <label class='control-label bold' >Popular Databases: </label>
      
       <%= select_tag "link", options_for_select(Static::POP_DB_LIST), {:onChange => "{getResult();}"} %>
      </form>
      
      
        <%= form_tag "subjects/list", :class=>"form-inline", :autocomplete => :off do %>
        <label class='control-label bold' >Choose Subject: </label>
        <%= select_tag "subject", options_from_collection_for_select(@subject, 'SubjectID', 'SubjectName'),
                          :prompt => "-Select a Subject-", :onchange => "javascript: this.form.submit();" %>
       <% end %>
    
      <br>
        
        <label class='control-label bold' >Select a Resource by Name:  </label>
    
          
         <%= render(:partial => "/resources/atoz" ) %>

  <br>
    <label class='control-label bold' >Or Search for a Resource by Name:</label>
       
        <%= form_tag "resources/list", :class =>"form-inline", :autocomplete => :off do -%>
    
        <label class="radio inline">
          <input type="radio" name="filter" value="Begins with">Begins with
        </label>
         <label class="radio inline">
          <input type="radio" name="filter" value="Contains" checked>Contains
        </label>
          <label class="radio inline">
          <input type="radio" name="filter" value="Exact match">Exact match
        </label>
      
      <div class="input-append">
        <input class="span3" name="str" type="text" >
        <button class="btn" name="resourceuga" type="submit"><i class="icon-search"></i> Go </button>
       </div>
      
        <% end %> 
     
  <br> 
  
    <div class="galileo">
      <img src="http://www.libs.uga.edu/research/images/fundbygalileo.gif" align="bottom" alt="GALILEO Logo" />
      <a href="http://www.galileo.usg.edu">
      Go to statewide GALILEO interface
      </a>
    </div>
    
   


