/* not in use */
/* Insert a notice between the last comment and the comment form */
//$("#comment-notice").html('<div class="flash notice"><%= escape_javascript(flash.delete(:notice)) %></div>');

/* Replace the count of comments */
//$("#comments_count").html("<%= pluralize(Comment.count, 'Comment') %>");

/* Add the new comment to the bottom of the comments list */
//$("#comments").append("<%= escape_javascript(render(@comment)) %>");

/* Highlight the new comment */
//$("#comment_<%= @comment.id %>").effect("highlight", {}, 3000);

/* Reset the comment form */
//$("#new_comment")[0].reset();

$("#subresource").update("<%= escape_javascript(render("resources/sublist")) %>");
//"resources/sublist"

$('#sub_selection').live('change', function(){
  $.ajax({
    url: "subjects/list",
    type: "GET",
    data: {'subject=' + $('#sub_selection option:selected').value() },
  })
});
