
  <div class="span4">
    
        <%= form_tag("list", :method=>'get', :class => "navbar-search pull-left") do %>
          <%= label_tag "subject", "Choose Subject" %>

          <%= text_field_tag 'search', params[:search], :class => 'input-medium search-query', :data => { :provide => 'typeahead', :source => @subjects},
          :placeholder => 'Or Search...', :autocomplete => "off" %>
        <% end %>
 
      
      <div id="subjectList">
        <%= render :partial => "search_list" %>
      </div>
    
      
  </div>
  
  <div class="span7 offset1" id="subResource"> 
    <%= render :partial => "resources/sublist" %>
  </div>
  
  