<!DOCTYPE html>
<html>
<head>
  <title>Subject Resource</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "GALILEO@UGA HOME", root_path, :class=>"brand" %>
        
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Password for Off-Campus Access", "http://www.libs.uga.edu/password.html" %></li>
            <li><%= link_to "Reference Tools (encyclopedias, etc.)", :controller=>"subjects", :action=>"list", :subject=>"90" %></li>
            <li><%= link_to "Electronic Journals Title Search", "http://www.libs.uga.edu/ejournals/" %></li>
            <li><%= link_to "Working with Citations", "http://www.libs.uga.edu/ref/citation.html" %></li>
            <li><%= link_to "Direct URLs for Databases and E-Journals", "http://www.libs.uga.edu/proxy_url.html" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
   <div id="main" role="main">
      <div class="container">
        <div class="content">
          <div class="container-fluid">
            <div class="row-fluid">
              <%= yield %>
            </div>
          </div>         
          <div class="footer">
            <%= render 'layouts/footer' %>
          </div>
        </div>
      </div>
   </div>
    
</body>
</html>